<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/blog">Блог</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contacts">Контакты</a>
  </li>
</ul>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Последние новости из жизни клуба</h1>
        </div>
    </div>
</div>
<h4> 29/10/2024  «Раз жизнь дает шанс, за него надо бороться»</h4>
<img src="../static/image/Qu82Vk8yS7SSOYlVAA7C.jpg" class="img-fluid" alt="..."style="max-width: 200px;">
 <a href= "https://dynamo.ru/news/230815-artem_kudashov____raz_jizn__daet_shans__za_nego_nado_borot_sya__">Артем Кудашов</a>
<h4> 28/10/2024  «Тигр на переправе. «Динамо» примет «Амур»»</h4>
<img src="../static/image/zstpht4bret33bhGBbBA.jpg" class="img-fluid" alt="..."style="max-width: 200px;">
<a href= "https://dynamo.ru/news/230814-tigr_na__pereprave____dinamo___primet___amur__">29 октября динамовцы начнут домашнюю серию игр из пяти матчей</a>
<h4> 29/10/2024  ««Каждый делает свой вклад в общий успех»»</h4>
<img src="../static/image/QG9PH679ddNk2A2A0ag4.jpg" class="img-fluid" alt="..."style="max-width: 200px;">
<a href= "https://dynamo.ru/news/230813-maksim_djioshvili____kajdyiy_delaet_svoy_vklad_v_obschiy_uspeh__">Нападающий бело-голубых подвел итог своей 150-й игры в КХЛ</a>

       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   </body>
   </html>